<h1><%= @game.name %></h1>

<p>Genres: <%= @game.genres.pluck(:name).join(", ") %></p>
<p>Platforms: <%= @game.platforms.pluck(:name).join(", ") %></p>
<p>Summary: <%= @game.summary %></p>
<%= link_to "Home", root_path %>
