<h1><%= @game.name %></h1>
<% if @game.first_release_date.present? %>
  <h5>First released: <%= @game.first_release_date.strftime('%A, %d %b %Y') %></h5>
<% end %>

<% if current_user %>
  <%= render "ratings/form", rateable: @game %>
<% end %>

<p>Genres: <%= @game.genres.pluck(:name).join(", ") %></p>
<p>Platforms: <%= @game.platforms.pluck(:name).join(", ") %></p>
<p>Summary: <%= @game.summary %></p>

<% if @game.developers.present? %>
  <h3>Developers:</h3>
  <ul>
    <% @game.developers.each do |developer| %>
      <li><%= link_to "#{developer.name}", company_path(developer) %></li>
    <% end %>
  </ul>
<% end %>

<% if @game.publishers.present? %>
  <h3>Publishers:</h3>
  <ul>
    <% @game.publishers.each do |publisher| %>
      <li><%= link_to "#{publisher.name}", company_path(publisher) %></li>
    <% end %>
  </ul>
<% end %>

<% if @game.ported_by.present? %>
  <h3>Ported By:</h3>
  <ul>
    <% @game.ported_by.each do |porter| %>
      <li><%= link_to "#{porter.name}", company_path(porter) %></li>
    <% end %>
  </ul>
<% end %>

<% if @game.supporting_companies.present? %>
  <h3>Supporting Companies:</h3>
  <ul>
    <% @game.supporting_companies.each do |supporting_company| %>
      <li><%= link_to "#{supporting_company.name}", company_path(supporting_company) %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Home", root_path %>
